body{
    margin: 0 ;
    font-family: sans-serif;
}
main, section{
    border: 1px solid black;
}

main
{
    background-color: yellow;
    padding: 8px 0;
    color: black;

}

section
{
    margin-bottom: px;
    padding: 20px 50px;
    letter-spacing: 1px;
    word-spacing: 1px;


}

.sec1
{
    background-color: black;
    color: white;
}
.sec2{
    background-color: white;
}
h1{
    text-align: center;
    font-size: 4em;
}
p{
    font-size: 1em;
}

a {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-weight: bold; 
    width: 180px;
    text-align: center;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover{
    background-color: yellowgreen;
    color: black;
}
.btn1{
    background-color: yellow;
    color: black;
    margin-right: 20px;
    margin-bottom: 10px;
}
.btn2{
    background-color: black;
    color: yellow;
    margin-right: 20px;
    margin-bottom: 10px;


}

#span1{
    color: yellow;
    text-decoration-color: yellow;
    font-weight: bold;
}

#span2{
    font-weight: bold;
    
}

